﻿<%@ Page Language="C#" Inherits="n01261269.Default" %>
<!DOCTYPE html>
<html>
<head runat="server">
	<title>Default</title>
</head>
<body>
	<form id="form1" runat="server">
     
    </form>
</body>
</html>
